# Exclude Git files
.git/
.gitignore

# Exclude Docker files
.dockerignore

# Exclude virtual environment
venv/
.venv/

# Exclude Python cache
__pycache__/
*.pyc

# Exclude development dependencies and tools
.vscode/
.idea/
.DS_Store
*.lock

# Exclude documentation
docs/

# Exclude tests and test data
tests/

# Exclude local environment files
.env
.env.yaml

# Exclude markdown files
*.md