.gcloudignore
.git
.gitignore
node_modules
.env
.env.local
.env.yaml
Procfile
pyproject.toml
venv/
.venv/
ruff_cache/
pytest_cache/
api/__pycache__/
trademark_core/__pycache__/
model-context/
.cursorrules